body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}

h1 {
  color: #333;
}

.form {
  margin: 20px;
}

input {
  padding: 10px;
  margin: 5px;
}

button {
  padding: 10px;
  cursor: pointer;
}

table {
  margin: auto;
  border-collapse: collapse;
  width: 70%;
  background: white;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
}

th {
  background: #333;
  color: white;
}

.issued {
  color: red;
}

.available {
  color: green;
}
