
.container-1 {
    height: 25vh;
    width: 25vw;
}

.head-1 {
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.para-1 {
    font-family: "Roboto";
    font-size: 10px;
    color: white;
    margin-left: 10px;
}

.container-2 {
    height: 25vh;
    width: 25vw;
}

.head-2 {
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.para-2 {
    font-family: "Roboto";
    font-size: 10px;
    color: white;
    margin-left: 10px;
}

.container-3 {
    height: 25vh;
    width: 25vw;
}

.head-3 {
    font-family: "Roboto";
    font-size: 20px;
    color: white;
    margin-left: 10px;
}

.para-3 {
    font-family: "Roboto";
    font-size: 10px;
    color: white;
    margin-left: 10px;
}
